__pycache__/
*.py[cod]
*$py.class

*.pt
*.h5
*.ckpt
*.weights


.env/
.venv/
venv/
ENV/
env/

*.env
.env.*

.vscode/

.idea/

.DS_Store


pip-log.txt
pip-delete-this-directory.txt


build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


.mypy_cache/
.dmypy.json
dmypy.json


.pyre/


__pydantic__/


*.db
*.sqlite3

*.log

reload.db

*.pid

.ipynb_checkpoints

poetry.lock
